<div class = "navbar row">
  <div class = "one-third navbar-logo column">EatOut</div>
  <div class = "navbar-links two-thirds column">
    <a href="" ui-sref = "home.login" ng-show="home.user === undefined">Login</a>
    <a href="" ui-sref = "home.register" ng-show="home.user === undefined">Register</a>
    <a href="" ng-click = "home.logout()" ng-show = "home.user !== undefined">Logout</a>
    <a href="" ui-sref = "home.main" ng-show="home.user">Main</a>
  </div>
  <div class = "container">
    <div id = "welcomeBanner" ng-hide="home.user">
      <p> Welcome to EatOut!</p>
      <p>Register or log in to continue</p>
    </div>
    <div ui-view></div>
  </div>
</div>
