/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*///////////////////LAYOUT////////////////////////////*/
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  margin:0;
  background-color: rgb(235, 235, 242);
}

.container {
  margin: 0 auto;
  padding: 1em 3em;
  max-width: 1000px;
  background-color: white; 
}

.row::before,
.row::after {
  display: table;
  content: " ";
  clear: both;
}

.one,
.one-third,
.two-thirds,
.one-fourth,
.half {
  width: 100%;
}

/*///////////////////STYLING////////////////////////////*/

.angular-with-newlines {
  white-space: pre-line;
}

.btn{
  text-decoration: none;
  background-color: #EEEEEE;
  background-color: rgb(30,61,231);
  color: white;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  border-radius: 2px ;
}

.btn:active{
  background-color: rgb(26, 139, 247);
}

.description{
  font-family: 'Bitter', serif;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 1em;
}

.description a{
  color: blue;
}

.error{
  color: red;
}

.event-link{
  margin: 0.5em;
  width: 100%;
}

.form-group{
  font-size: 1.2em;
  margin: 0.5em auto;
}

.new-event-image{
  background: url("<%= asset_path(set-table-free-license-cc0.jpg) %>"); 
}

.view-events-image{
  background: url("<%= asset_pathHFH6U1U5T4.jpg)%>");  
}

.new-event-image, .view-events-image{
  height: 16em;
  width: 100%;
  background-size: 100% 100%
}

.new-event-image img, .view-events-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

input[type="text"] {
  font-size:12px;
}

.navbar{
  height: 55px;
  background-color: rgb(30,61,231);
  position:fixed;
  width:100%;
  top: 0;
}

.navbar-links{
  margin-top: 10px;
  text-align: right;
}

.navbar-links a{
  text-decoration: none;
  margin-right: 2%;
  color: white;
  font-size: 1.4em;
  font-family: "Bitter", serif;
}

.navbar-logo{
  font-size: 1.6em;
  margin-top: 5px;
  padding-left: 1.5%;
  font-family: 'Pacifico', cursive;
  color: white;
}

.overlay{
  height:100%;
  width: 100%;
  opacity: 0;
  transition: opacity .5s;
}

.overlay:hover{
  opacity: 0.65;
  background: black;
  transition: opacity .5s;
}

.overlay a{
  display:block;
  width: 100%;
  height: 100%;
  color: #fff;
  line-height: 150px;
  font-family: 'Bitter', serif;
  text-align: center;
  font-size: 2em;
}

.venueList{ 
  overflow-y:scroll; 
  position:relative;
  height: 350px;
  margin-top:15px;
}

.welcome{
  font-family: 'Bitter', serif;
  font-size: 3.5em;
  text-align: center;
  color: rgb(30,61,231);
}

.wrapper{
  padding-top: 70px;
}

form{
  margin:0 auto;
  width:50%;
  text-align: left;
  border: 1px solid #999;
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(245, 245, 248);
}

#eventDetails, #showEventDetails, #venueSearch, #resultWrapper, .eventItem, #venueDetails{
  font-family: "Bitter", serif;
}

#eventDetails{
  margin-left: 5%;
  width:85%;
}

a{
  text-decoration: none;
}

textarea{
  margin: 0 auto;
  resize: none;
  overflow-y : scroll;
  font-size: 12px;
}

h1{
  text-align: center;
  font-family: "Bitter", serif;
  color: rgb(30,61,231);
  margin-top: 10.72px;
}

ul{
  padding:0;
}

li{
  list-style-type: none;
}

.results li, #eventListing li{
  text-align: left;
  padding-top: 13px;  
}

#eventListing li{
  padding-bottom: 9px;
}

.results .venueItem li{
  padding: 0;
}

.venueItem{
  width:80%;
  margin: 0 auto;
}

.even{
  background-color: 'white';
}

.odd{
  background-color: rgb(235, 235, 242);
}


/*///////////////////BREAKPOINTS////////////////////////////*/
@media only screen and (min-width: 800px) {
  .one {
    width: 100%;
  }
  .half {
    width: calc(100% / 2);
  }
  .one-third {
    width: calc(100% / 3);
  }
  .one-fourth {
    width: calc(100% / 4);
  }
  .two-thirds {
    width: calc(100% / 3 * 2);
  }
  .column {
    float: left;
  }
}